{% extends "user/base.html" %}
{% block inventorycontent %}
{% endblock %}

 {% block maincontent %}

 <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
 <div class="ninventory_item  d-flex w-100 justify-content-space-space-evenly  ">
    <div class="h5 m-2">
        Edit inventory item
    </div>
    <div class="mr-0">
        <button type="sumbit" class="btn btn-primary" >Edit Inventory</button>
    </div>
 </div>
 <center>{% include "app/messages.html" %}</center>
<hr>
<div class="side d-flex col-sm-12" style="height:65vh">
    <div class="side1 col-sm-8 bg-white" style="border-radius:25px">
     <div class="row">
        <div class="col">
            <div class="input-group">
                <p class="h6">Product Name</p>
              </div>
              <div class="input-group">
                <input type="text" class="form-control h-10 i" placeholder="Enter product name" aria-label="Username" aria-describedby="basic-addon1" name="pname" value="{{pro.product_name}}">
       
              </div>
              <div class="input-group">
                {% for error in error.product_name %}
                <span style="color:red">
                  {{error}}
              </span>
              
              {% endfor %}
              </div>
             <div class="input-group">
                <select name="pcategory" id="" style="height: 42px;
                width: 100%;
            " readonly > <option value="{{pro.product_category}}">{{pro.product_category}}</option>
                    
        </select>
             </div>
             
         <div class="input-group">
            <input type="text" class="form-control h10" placeholder="selling price " aria-label="Username" aria-describedby="basic-addon1" name="sprice" value="{{pro.selliing_price}}" >
            
         </div>
         <div class="input-group">
            {% for error in error.selling_price %}
            <span style="color:red">
              {{error}}
          </span>
          
                      {% endfor %}
         </div>

           <div class="input-group">
            <input type="text" class="form-control h10" placeholder="cost price" aria-label="Username" aria-describedby="basic-addon1" name='cprice' value="{{pro.cost_price}}">
            
           </div>
           <div class="input-group">
           {% for error in error.cost_price %}
           <span style="color:red">
            {{error}}
        </span>
        
                      {% endfor %}
            </div>
            <div class="input-group">
                <input type="number" class="form-control h10" placeholder="Quantity in Stock" aria-label="Username" aria-describedby="basic-addon1" name="quantity" value="{{pro.quantity_in_stock}}">
                
            </div>
            <div class="input-group">
            {% for error in error.quantity %}
            <span style="color:red">
              {{error}}
          </span>
          
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control h10" placeholder="Short description" aria-label="Username" aria-describedby="basic-addon1" name="sd" value="{{pro.short_description}}">
            </div>
            <div class="input-group h40">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Enter detail description" name="dd" value="">{{pro.detail_description}}</textarea>
              </div>
        </div>
     </div>
    </div>
    <div class="side2 col-sm-4 bg-white ml-2" style="border-radius:25px;">
        <div class="input-group h40">
            <input type="file" class="form-control " placeholder="" aria-label="Username" aria-describedby="basic-addon1" name="file" multiple >
          </div>
          {% if image %}
        {% for image in image %}
           <div class="border">
            
              {% csrf_token %}
                    <img src="{{ MEDIA_URL }}{{image.image.url }}" alt="" style="height:8rem; width:8rem">
        
                   <button  type="button" id="{{image.id}}" value="{{image.id}}" onclick=imageDelete({{image.id}})> X </button>
           </div>
            {% endfor %}
            {% endif %}
          <div class="input-group">
          {% for error in error.image %}
          <span style="color:red">
            {{error}}
        </span>
          {% endfor %}
        </div>
        </div>
    </div>
</div>
</form>
<script>
    function imageDelete(e) {
      $.ajax({
        type: "GET",
        url: `/inventory/image/${e}`,
        success: function (result) {
          alert("image deleted");
          window.location.reload();
        },
        error: function (result) {
          alert("error");
        },
      });
    }
    </script>
    


 {% endblock maincontent %}